* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
#main {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
#main nav {
  width: 100%;
  padding: 0.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
.visualization {
  width: 100%;
  overflow-x: hidden;
}
.main_btn {
  width: max-content;
  height: 100%;
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #FFCE22;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.main_btn:hover {
  background: #FFD84D;
}
/* custom class for active btns */
.btn_active {
  background: rgba(234, 214, 203, 1) !important;
}

.controls {
  display: flex;
  gap: 0.5em; 
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}
.control_btn {
  width: max-content;
  height: 30px;
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgba(205, 254, 194, 1);
  cursor: pointer;
  position: relative;
}
.control_btn:hover {
  background: rgba(234, 242, 215, 1);
}

.graph {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.intro {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.loader {
  width: 100%;
}
.loading_container {
  width: 200px;
  margin: 1em auto 0 auto;
  text-align: center;
}
.error {
  width: 400px;
  margin: 1em auto 0 auto;
  text-align: center;
}